<div style="margin: 10px">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <h4><strong>DATA:</strong> 16/06/2021 - 14:45</h4>
      </div>
      <div class="col-lg-6 d-flex justify-content-end">
        <h4>5s para atualizar</h4>
      </div>
    </div>
  </div>
  <div>
    <h4><strong>COLEÇÕES:</strong> MOR2101, MAR2101, LEB2101</h4>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div
            class="ibox bg-success color-white widget-stat"
            style="height: 173px"
          >
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">201</h1>
              <div class="m-b-5">VENDIDOS</div>
              <i class="ti-shopping-cart widget-stat-icon"></i>
              <hr />
              <div class="row">
                <div class="col-6 d-flex justify-content-center">
                  <div>
                    <h2 class="m-b-5 font-strong">10.987</h2>
                    <div class="m-b-5">TRANSFERENCIA</div>
                  </div>
                </div>

                <div class="col-6 d-flex justify-content-center">
                  <div>
                    <h2 class="m-b-5 font-strong">10.987</h2>
                    <div class="m-b-5">CONSIGNADO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div
            class="ibox bg-info color-white widget-stat"
            style="height: 173px"
          >
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">1250</h1>
              <div class="m-b-5">FATURADOS</div>
              <i class="ti-bar-chart widget-stat-icon"></i>
              <hr />
              <div class="row">
                <div class="col-6 d-flex justify-content-center">
                  <div>
                    <h2 class="m-b-5 font-strong">10.987</h2>
                    <div class="m-b-5">TRANSFERENCIA</div>
                  </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <div>
                    <h2 class="m-b-5 font-strong">10.987</h2>
                    <div class="m-b-5">CONSIGNADO</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ibox bg-orange-700 color-white widget-stat">
            <div class="row" style="margin-right: 20px">
              <div class="col-4">
                <div class="ibox-body">
                  <h1 class="m-b-5 font-strong">514.908</h1>
                  <div class="m-b-5">LIB. PRODUÇÃO</div>
                </div>
              </div>
              <div class="col-4">
                <div class="ibox-body">
                  <h1 class="m-b-5 font-strong">514.908</h1>
                  <div class="m-b-5">ENTREGUES</div>
                </div>
              </div>
              <div class="col-4">
                <div class="ibox-body">
                  <h1 class="m-b-5 font-strong">514.908</h1>
                  <div class="m-b-5">RESTANTES</div>
                  <i class="ti-receipt widget-stat-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-lg-4 col-md-12">
          <div class="ibox bg-orange-700 color-white widget-stat">
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">500.000</h1>
              <div class="m-b-5">ENTREGUES</div>
              <i class="ti-money widget-stat-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="ibox bg-orange-700 color-white widget-stat">
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">14.908</h1>
              <div class="m-b-5">RESTANTES</div>
              <i class="ti-money widget-stat-icon"></i>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="col-lg-2 col-md-6">
      <div class="ibox bg-danger color-white widget-stat">
        <div class="ibox-body" style="min-height: 200px">
          <h1 class="m-b-5 font-strong">10.987</h1>
          <div class="m-b-5">BLOQUEADOS</div>
          <i class="ti-na widget-stat-icon"></i>
          <hr />

          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <div>
                <h2 class="m-b-5 font-strong">10.987</h2>
                <div class="m-b-5">COMERCIAL</div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <div>
                <h2 class="m-b-5 font-strong">10.987</h2>
                <div class="m-b-5">FINANCEIRO</div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <div>
                <h2 class="m-b-5 font-strong">10.987</h2>
                <div class="m-b-5">S/ ESTOQUE</div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <div>
                <h2 class="m-b-5 font-strong">10.987</h2>
                <div class="m-b-5">C/ ESTOQUE</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="ibox bg-blue color-white widget-stat">
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">14.908</h1>
              <div class="m-b-5">LIBERADOS</div>
              <i class="ti-check widget-stat-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="ibox bg-black color-white widget-stat">
            <div class="ibox-body">
              <h1 class="m-b-5 font-strong">5.897</h1>
              <div class="m-b-5">S/ ESTOQUE</div>
              <i class="ti-unlink widget-stat-icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ibox bg-warning color-white widget-stat">
            <div class="ibox-body">
              <div class="row">
                <div class="col-lg-5">
                  <div>01: 6.643</div>
                  <div>07: 694</div>
                  <div>11: 4.906</div>
                </div>
                <div class="col-lg-7">
                  <h1 class="m-b-5 font-strong">5.897</h1>
                  <div class="m-b-5">C/ DATA FUTURA</div>
                  <i class="ti-lock widget-stat-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ibox bg-success color-white widget-stat">
            <div class="ibox-body">
              <div class="row">
                <div class="col-lg-5">
                  <div>01: 6.643</div>
                  <div>07: 694</div>
                  <div>11: 4.906</div>
                </div>
                <div class="col-lg-7">
                  <div class="row">
                    <h1 class="m-b-5 font-strong">5.897</h1>
                    <div class="m-b-5">APTO FATURAR</div>
                    <i class="ti-unlock widget-stat-icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row">
        <div style="display: block">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    id="carouselExampleFade"
    class="carousel carousel-dark slide carousel-fade card"
    data-bs-ride="carousel"
    style="margin-top: 10px; min-height: 350px; padding: 10px"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div>
          <div>
            <h4><strong>COLEÇÃO:</strong> MOR2101</h4>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div
                    class="ibox bg-success color-white widget-stat"
                    style="height: 173px"
                  >
                    <div class="ibox-body">
                      <h1 class="m-b-5 font-strong">201</h1>
                      <div class="m-b-5">VENDIDOS</div>
                      <i class="ti-shopping-cart widget-stat-icon"></i>
                      <hr />
                      <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          <div>
                            <h2 class="m-b-5 font-strong">10.987</h2>
                            <div class="m-b-5">TRANSFERENCIA</div>
                          </div>
                        </div>

                        <div class="col-6 d-flex justify-content-center">
                          <div>
                            <h2 class="m-b-5 font-strong">10.987</h2>
                            <div class="m-b-5">CONSIGNADO</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div
                    class="ibox bg-info color-white widget-stat"
                    style="height: 173px"
                  >
                    <div class="ibox-body">
                      <h1 class="m-b-5 font-strong">1250</h1>
                      <div class="m-b-5">FATURADOS</div>
                      <i class="ti-bar-chart widget-stat-icon"></i>
                      <hr />
                      <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                          <div>
                            <h2 class="m-b-5 font-strong">10.987</h2>
                            <div class="m-b-5">TRANSFERENCIA</div>
                          </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                          <div>
                            <h2 class="m-b-5 font-strong">10.987</h2>
                            <div class="m-b-5">CONSIGNADO</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="ibox bg-orange-700 color-white widget-stat">
                    <div class="row" style="margin-right: 20px">
                      <div class="col-4">
                        <div class="ibox-body">
                          <h1 class="m-b-5 font-strong">514.908</h1>
                          <div class="m-b-5">LIB. PRODUÇÃO</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="ibox-body">
                          <h1 class="m-b-5 font-strong">514.908</h1>
                          <div class="m-b-5">ENTREGUES</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="ibox-body">
                          <h1 class="m-b-5 font-strong">514.908</h1>
                          <div class="m-b-5">RESTANTES</div>
                          <i class="ti-receipt widget-stat-icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="ibox bg-danger color-white widget-stat">
                <div class="ibox-body" style="min-height: 200px">
                  <h1 class="m-b-5 font-strong">10.987</h1>
                  <div class="m-b-5">BLOQUEADOS</div>
                  <i class="ti-na widget-stat-icon"></i>
                  <hr />

                  <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                      <div>
                        <h2 class="m-b-5 font-strong">10.987</h2>
                        <div class="m-b-5">COMERCIAL</div>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                      <div>
                        <h2 class="m-b-5 font-strong">10.987</h2>
                        <div class="m-b-5">FINANCEIRO</div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                      <div>
                        <h2 class="m-b-5 font-strong">10.987</h2>
                        <div class="m-b-5">S/ ESTOQUE</div>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                      <div>
                        <h2 class="m-b-5 font-strong">10.987</h2>
                        <div class="m-b-5">C/ ESTOQUE</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="ibox bg-blue color-white widget-stat">
                    <div class="ibox-body">
                      <h1 class="m-b-5 font-strong">14.908</h1>
                      <div class="m-b-5">LIBERADOS</div>
                      <i class="ti-check widget-stat-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="ibox bg-black color-white widget-stat">
                    <div class="ibox-body">
                      <h1 class="m-b-5 font-strong">5.897</h1>
                      <div class="m-b-5">S/ ESTOQUE</div>
                      <i class="ti-unlink widget-stat-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="ibox bg-warning color-white widget-stat">
                    <div class="ibox-body">
                      <div class="row">
                        <div class="col-lg-5">
                          <div>01: 6.643</div>
                          <div>07: 694</div>
                          <div>11: 4.906</div>
                        </div>
                        <div class="col-lg-7">
                          <h1 class="m-b-5 font-strong">5.897</h1>
                          <div class="m-b-5">C/ DATA FUTURA</div>
                          <i class="ti-lock widget-stat-icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="ibox bg-success color-white widget-stat">
                    <div class="ibox-body">
                      <div class="row">
                        <div class="col-lg-5">
                          <div>01: 6.643</div>
                          <div>07: 694</div>
                          <div>11: 4.906</div>
                        </div>
                        <div class="col-lg-7">
                          <div class="row">
                            <h1 class="m-b-5 font-strong">5.897</h1>
                            <div class="m-b-5">APTO FATURAR</div>
                            <i class="ti-unlock widget-stat-icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="row">
                <div style="display: block">
                  <canvas
                    baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <div>
          <h5>2 slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div>
          <h5>3 slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
  </div>
</div>
